.mobileProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 80vw;
}

.mobileProductImage {
  width: 80vw;
  height: auto;
  background-color: #fbfbfb;


  align-self: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.mobile20Off {
  font-size: 2.5vw;
}
.mobileTextSize {
  font-size: 3.5vw;
  width: 80vw;
  margin-top: 2.5vw;
}

.mobileHeadingSub {
  font-size: 4vw;
}
.mobileimage {
  width: 40vw;
  height: auto;
}
.mobileProductTitle {
  font-size: 2vw;
  font-weight: 500;
}

.mobileminiHeading {
  margin-bottom: 3.5vw;
  font-size: 3.5vw;
  font-weight: 600;
  margin-top: 3.5vw;
}

.mobileTitle {
  font-size: 4vw;
  text-align: start;
  font-weight: 600;
  margin-top: 3vh;
}

.mobileAboutContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-self: center;
}

/* ---------------- */
.productTitle {
  font-size: 2vw;
  font-weight: 600;
}
.textSize {
  font-size: 0.8vw;
}
.miniHeading {
  margin-bottom: 1vh;
  font-size: 1vw;
  font-weight: bold;
}

.miniUnboldHeading {
  font-weight: 500;
  font-size: 0.7vw;
}

.heading {
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
}

.headingsub {
  font-size: 2vw;
}
.star {
  font-size: 2vw;
}
.aboutContainer {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.product {
  gap: 10vw;
  width: 80vw;
  display: flex;
  justify-content: start;
  margin-top: 1.7vw;
}

.testContainer {
  height: 3000px;
  background-color: rgb(255, 255, 255);
  width: 10%;
}

.sliderImage {
  width: 100%;
  height: auto;
}

.productsContainer {
  width: 80vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: "10px";

  justify-content: center;
}

.promotionText1 {
  transform: translate(-519%, 44%);
}
.promotionText2 {

  transform: translate(-548%, -47%);
}

.image {
  width: 19vh;
  height: 23vh;
}

.mainProductCard {
  width: 15vw;

  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  border: 0.1vw solid #e6e6e6;

  margin-top: 1vw;
  flex-direction: column;
}
.drawerContentOverlay {
  position: absolute;
  text-align: start;
  font-size: 25px;

  top: 10vh;
  right: 10vw;
}

.off10 {
  width: 80vw;
}

.promo {
  font-size: xx-large;
}

.smartPhone {
  width: 24vw;
  height: 22vw;
}

.promoImagesContainer {
  display: "flex";

}

.smartwatch {
  width: 54vw;
  height: 22vw;
}

.prodContent {
  width: 20vw;
}

.prodImageStyle {
  width: 22vw;
  height: 31vw;
}
@media screen and (max-width: 1380px) {

  .prodImageStyle {
    width: 28vw;
    height: 40vw;
  }
}

@media screen and (max-width: 1050px) {
  .aboutContainer {
    width: 80%;
  }

  .drawerContentOverlay {
    top: 10vh;
    right: 10vw;
    font-size: 15px;
  }



  .image {
    width: 30vw;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .promoImagesContainer {
    flex-direction: column;
  }

  .drawerContentOverlay {
    position: relative;
    text-align: start;
    font-size: 25px;

    top: 10vh;
    right: 10vw;
  }

  .sliderImage {
    width: 100%;
    height: auto;
 
  }

  .promo {
    font-size: 5vw;
  }

  .off10 {
    transform: rotate(90deg);
    width: 180vw;
  }

  .of10container {
    height: 180vw;
  }

  .smartPhone {
    width: 90%;
    height: auto;
  }
  .smartwatch {
    width: 75vw;
    height: 240px;
    margin-bottom: 2vh;
    object-fit: cover;
   
  }

  .image {
    width: 30vw;
    height: auto;
  }
}

.mobileDrawerContent {
  display: flex;
  align-items: start;
  text-align: start;
  flex-direction: column;

  justify-content: center;
  margin-left: 3vw;
}

.sliderButton {
  background-color: #ff3c3c;
  color: white;
  border: none;
  height: 35px;
  width: 100px;
  border-radius: 5px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.productsContainer {
  background-color: #ffffff;
}

.productCard {
  display: flex;
  flex-direction: column;

  align-items: start;

  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
  margin-right: 30px;
}

.ProductsCardInfo {
  flex-direction: column;
  display: flex;
  align-items: start;
  width: 14vw;

  padding-left: 2vw;
  
  padding-bottom: 2vw;
  padding-right: 2vw;
}

.productNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12vw;
}

.text {
  color: #414141;
}
.productListContainer {
  display: flex;
  justify-content: center;

}

.productList {
  display: flex;
  gap: 10px;
}

.ProductItem {
  flex: 0 0 auto;
  width: 70%;

}

.pormotionCard {
  color: #ff3c3c;
  height: 10vh;
  width: 100%;
  display: flex;
  font-size: xx-large;
}


.cardTitle {
  font-size: 1vw;
  color: #4a4a4a;
  font-weight: 500;
}

.productPrice {
  font-size: 1.5vw;
  font-weight: 700;
  color: #4a4a4a;
}

.productIcon {
  width: 1.5vw;
  height: auto;
}

.productImage {
  width: 11vw;
  height: 14vw;

}



/* Product Card----------- */

.mainProductCard {
  width: 15vw;
  /* height: 5px; */
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: .1vw solid #e6e6e6;
  border-radius: 2vw;
  /* background-color: #ff3c3c; */
  margin-top: 5px;
  flex-direction: column;
  height: 15.5vw;
}

.productImage {
  width: 13vw;
  height: 14vw;
  border-radius: 1.5vw;
}

.ProductsCardInfo {
  flex-direction: column;
  display: flex;
  align-items: start;
  width: 14vw;

  padding-left: 2vw;

  padding-bottom: 2vw;
  padding-right: 2vw;
}

.productNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12vw;
}

.cardTitle {
  font-size: 1vw;
  color: #4a4a4a;
  font-weight: 500;
}

.productIcon {
  width: 1.5vw;
  height: auto;
}

.productPrice {
  font-size: 1.5vw;
  font-weight: 700;
  color: #4a4a4a;
}

@media screen and (max-width: 767px) {
  .promoImagesContainer {
    flex-direction: column;
  }

  .sliderImage {
    width: 100%;
    height: auto;
  }
  .smartPhone {
    width: 90vw;
    height: auto;
  }
  .smartwatch {
    width: 90vw;
    height: 81vw;
    margin-bottom: 5vw;
    object-fit: cover;
  }
}

.starSize {
  width: 8vw;
}

.buttonStyles{
  background-color: #ff3c3c;
  border: none;
  outline: none;
  width: 100%;
}


@media screen and (max-width: 870px) {
  .starSize {
    width: 24vw;
  }
  .productPrice {
    font-size: 4.5vw;
  }
  .cardTitle {
    font-size: 3.5vw;
  }

  .productIcon {
    width: 5vw;
  }
  .ProductsCardInfo {
    margin-top: 1vw;
    width: 44vw;
    height: 20vw;
    justify-content: space-between;

    padding-left: 3vw;
  }
  .productImage {
    width: 43vw;
    height: 49.5vw;
   
  }

  .mainProductCard {
    width: 48vw;
    height: 51vw;
  }
  .productNameContainer {
    width: 42vw;
  }
  .text {
    font-size: 8vw;
  }

  .pictureText {
    font-size: 6.5vw;
    font-weight: bold;
    transform: translate(0%, -22vw);
    position: relative;
    right: 25vw;
    opacity: ".7";
  }

  .trendingText {
    font-size: 7vw;
    text-align: center;
    margin-bottom: 2vw;
  }

  .exclusiveText {
    font-size: 3.5vw;
    text-align: center;
  }

  .productsContainer {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .mobileProductTitle {
    font-size: 6vw;
    font-weight: 500;
    align-self: start;
    margin-left: 10vw;
  }
}
