.mainContainer {
  flex: 1;
}

.navBar {
  display: flex;
  background-color: #ff3c3c;
  z-index: 100;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  justify-content: center;

  height: 20vh;
  width: 100vw;
  align-items: center;
}

.screen {
  justify-content: center;
  align-items: center;

  display: flex;
}

.image {
  width: 30vh;
  height: auto;
}

.title {
  font-weight: bold;
  font-size: 3vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 242);
  border-color: gray;
  gap: 5vh;
  margin-top: 5vh;
  height: 42vh;
  width: 56vh;
  border-radius: 2vh;
  border: 0.1px solid #e1e1e1;
}

.resetButton {
  margin-top: 2vw;
  height: 6vh;
  border-radius: 10px;
  border: none;
  background-color: #ff3c3c;
  color: white;
  font-size: 2vh;
  cursor: pointer;
  padding-left: 3vh;
  padding-right: 3vh;
}
.resetButton:hover,
.resetButton:active {
  background-color: #762020;
}
.resetButton:focus {
  outline: none;
}
@media screen and (max-width: 800px) {
  .image {
    width: 25vh;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .image {
    width: 25vh;
    height: auto;
  }
}

@media screen and (max-width: 620px) {
  .form {
    height: 57vw;
    width: 78vw;
    gap: 5vw;
  }
  .title {
    font-size: 5vw;
  }
  .image {
    width: 17vh;
    height: auto;
  }
  .resetButton {
    height: 8vw;
    font-size: 3vw;
  }
}

@media screen and (max-width: 280px) {
  .image {
    width: 12vh;
    height: auto;
  }
}
