.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkoutContainer {
  width: 80vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(226, 226, 226);
  /* width: 80vw; */
  height: 10vh;
}

.headingText {
  color: #414141;
  font-size: x-large;
  /* font-size: x-large; */
  font-weight: 600;
}

.productsContainer {
  display: flex;
  justify-content: space-between;
}

.productsInnerContainer {
  width: 18vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgb(226, 226, 226);
}

.productsItemContainer {
  justify-content: start;
  width: 20vw;
  padding-left: 2vw;

  display: flex;
}

.productsWrapper {
  border-bottom: 2px solid rgb(226, 226, 226);
}

.productImage {
  height: 7vw;
  width: 6vw;
  margin: 2vh;
}

.productName {
  color: #5e5e5e;
  font-weight: 600;
  font-size: large;
}

.prodPrice {
  color: #ff3c3c;
  font-weight: 600;
  font-size: large;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}

.total {
  display: flex;
  flex-direction: column;
}

.totalPrice {
  color: #ff3c3c;
  font-weight: bold;
  font-size: x-large;
}

.semiPrice {
  color: rgb(204, 204, 204);
  /* font-weight: 600; */
  font-size: large;
}
.totalText {
  color: #414141;
  font-weight: 600;
  font-size: large;
}

.totalInnerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
}

.btnBackToShopping {
  border: 2px solid #ff3c3c;
  color: #ff3c3c;
  background-color: white;
  outline: none;
  font-size: large;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  /* width: 10vw; */
  height: 6vh;
}

.btnBackToShopping:hover {
  border: 2px solid #5d2323;
  color: #5d2323;
}

.btnPayment {
  background-color: #ff3c3c;
  color: white;
  outline: none;
  border: none;
  font-size: large;
  height: 6vh;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.btnPayment:hover {
  background-color: #742424;
}
.buttonContainer {
  margin-top: 7vh;
  display: flex;
  gap: 2vw;
  justify-content: start;
}

.rowForm {
  display: flex;
  gap: 2vw;
}

.columnForm {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.formContainer {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.InformationInnerCard {
  /* border-bottom: ; */
}

.InformationCard {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  /* padding-top: 1vh; */
  padding-top: 0.7vw;
  width: 100%;
}

.changeInfo {
  color: #0099ff;
  font-size: 1vw;
  text-decoration: underline;
  font-weight: 600;
  text-align: end;
}

.informationHeading {
  font-size: 1vw;
  width: 5vw;
  text-align: start;
  margin-left: 1vw;
  color: #b2b2b2;
  font-weight: 600;
}

.informationText {
  color: #262626;
  font-size: 1vw;
  font-weight: 600;
}

.methodDetails {
  color: #b2b2b2;
  margin-left: 0.5vw;
}

.line {
  width: 80%;
  display: block;
  height: 0.1vw;
  border: 0;
  border-top: 0.1vw solid #dfdfdf;
}
.informationInnerWrapper {
  align-items: center;
  display: flex;

  justify-content: start;
  gap: 3vw;
  height: 3vw;
}

/* Checkout styles */

.productText {
}

.productPrice {
}

.heading {
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkoutContainer {
  width: 80vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(226, 226, 226);
  /* width: 80vw; */
  height: 4.8vw;
  /* height: 10vh; */
}

.headingText {
  color: #414141;
  /* font-size: x-large; */
  font-size: 1.25vw;
  /* font-size: x-large; */
  font-weight: 600;
}

.productsContainer {
  display: flex;
  justify-content: space-between;
}

.productsInnerContainer {
  width: 18vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  border-left: 0.15vw solid rgb(226, 226, 226);
}

.productsItemContainer {
  justify-content: start;
  width: 20vw;
  padding-left: 2vw;

  display: flex;
}

.productsWrapper {
  border-bottom: 2px solid rgb(226, 226, 226);
}

.productImage {
  height: 7vw;
  width: 6vw;
  margin: 1.2vw;
}

.productName {
  color: #5e5e5e;
  font-weight: 600;
  font-size: 0.8vw;
}

.prodPrice {
  color: #ff3c3c;
  font-weight: 600;
  font-size: 1vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}

.total {
  display: flex;
  flex-direction: column;
}

.totalPrice {
  color: #ff3c3c;
  font-weight: bold;
  /* font-size: x-large; */
  font-size: 1.25vw;
}

.semiPrice {
  color: rgb(204, 204, 204);
  /* font-weight: 600; */
  /* font-size: large; */
  font-size: 0.9vw;
}
.totalText {
  color: #414141;
  font-weight: 600;
  font-size: 0.9vw;
}

.totalInnerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
}

.btnBackToShopping {
  border: 0.15vw solid #ff3c3c;
  color: #ff3c3c;
  background-color: white;
  outline: none;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  height: 3vw;
}

.btnBackToShopping:hover {
  border: 2px solid #5d2323;
  color: #5d2323;
}

.mainHeading {
  text-align: start;
  margin-bottom: 2vw;
  margin-top: 2vw;
  font-weight: bolder;
  font-size: 2.8vw;
  color: #262626;
}

.btnPayment {
  background-color: #ff3c3c;
  color: white;
  outline: none;
  border: none;
  font-size: large;
  height: 3vw;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.btnText {
  font-size: 1vw;
}

.btnPayment:hover {
  background-color: #742424;
}
.buttonContainer {
  margin-top: 3.2vw;
  display: flex;
  gap: 2vw;
  justify-content: start;
}

.rowForm {
  display: flex;
  justify-content: space-between;
}

.columnForm {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.formContainer {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.OrderSummary {
  height: 15vw;
  background-color: #e0e0e0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summaryInerContainer {
  margin-left: 6vw;
}

.SummaryPriceText {
  margin-right: 6vw;
  font-size: 4vw;
  color: #f46b5b;
}

.summaryInerContainer {
  display: flex;
  gap: 2vw;
}

@media screen and (max-width: 870px) {
  .mobileBillingDetails {
    font-weight: 500;
    text-align: start;
    color: black;
    font-size: 2.5vw;
  }

  .mainHeading {
    font-size: 4vw;
    font-weight: 500;
    text-align: start;
  }

  .btnText {
    font-size: 3.5vw;
  }

  .btnBackToShopping {
    width: 85vw;
    height: 11vw;
  }

  .btnPayment {
    width: 85vw;
    height: 11vw;
  }

  .buttonContainer {
    flex-direction: column;
  }
  .rowForm {
    flex-direction: column;
  }
  .visibility {
    display: none;
  }
  .header {
    background-color: white;
    border-bottom: 0.2vw solid #d8d8d8;
    margin-bottom: 5vw;
  }

  .productsContainer {
    flex-direction: column;
  }

  .productsInnerContainer {
    display: none;
  }

  .checkoutContainer {
    width: 85vw;
  }
}
